version: "3.9"

services:
  # ---------- Infraestructura ----------
  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    restart: always
    ports:
      - "61616:61616"
      - "8161:8161"
    environment:
      - ACTIVEMQ_ADMIN_LOGIN=admin
      - ACTIVEMQ_ADMIN_PASSWORD=admin
    networks:
      - search_net

  hazelcast:
    image: hazelcast/hazelcast:latest
    container_name: hazelcast-1
    environment:
      - HZ_CLUSTERNAME=search-cluster
    networks:
      - search_net

  # ---------- Servicios de negocio ----------

  ingestion-service:
    build:
      context: ./ingestion-service
      dockerfile: Dockerfile    # realmente podrías omitir esta línea
    container_name: ingestion-service
    environment:
      - JAVA_OPTS=
    volumes:
      - ./datalake:/app/datalake
    ports:
      - "7001:7001"
    networks:
      - search_net
    depends_on:
      - activemq

  indexing-service:
    build:
      context: ./indexing-service
      dockerfile: Dockerfile
    container_name: indexing-service
    environment:
      - DATAMART_DB=./datamart/index.db
    volumes:
      - ./datalake:/app/datalake:ro
      - ./datamart:/app/datamart
    ports:
      - "7002:7002"
    networks:
      - search_net
    depends_on:
      - activemq
      - hazelcast

  search-service:
    build:
      context: ./search-service
      dockerfile: Dockerfile
    # Ojo: sin container_name si quieres escalar
    environment:
      - DATAMART_DB=./datamart/index.db
    volumes:
      - ./datamart:/app/datamart:ro
    expose:
      - "7003"
    networks:
      - search_net
    depends_on:
      - hazelcast

  control-service:
    build:
      context: ./control-module
      dockerfile: Dockerfile
    container_name: control-service
    environment:
      - INGESTION_URL=http://ingestion-service:7001
      - INDEXING_URL=http://indexing-service:7002
      - SEARCH_URL=http://search-service:7003
    ports:
      - "7000:7000"
    networks:
      - search_net
    depends_on:
      - ingestion-service
      - indexing-service
      - search-service

  benchmark:
    build:
      context: ./benchmarks      # si tu Dockerfile de benchmark está ahí
      dockerfile: Dockerfile
    container_name: benchmark
    environment:
      - INGESTION_URL=http://ingestion-service:7001
      - INDEXING_URL=http://indexing-service:7002
      - SEARCH_URL=http://search-service:7003
    networks:
      - search_net
    depends_on:
      - control-service

  nginx:
    image: nginx:latest
    container_name: search_load_balancer
    ports:
      - "8080:80"
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - search_net
    depends_on:
      - search-service

networks:
  search_net:
    driver: bridge
